.movies-container {
    padding: 2%;
}
.place_div_center {
    width: 100%;
	height: 500px;
    background-color: #EEE;
    border-radius: 1%;
    margin: auto;
    overflow-y: auto;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.movies-list {
    overflow-y: auto;
}
.movies {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.movies li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 3.5em;
    border-radius: 4px;
}
.movies li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.movies li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.movies .text {
    position: relative;
    top: -3px;
}