<h1 mat-dialog-title>Add New Director</h1>

<form [formGroup]="newDirectorForm" (ngSubmit)="closeDialog()">
<mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Director Name</mat-label>
    <input matInput formControlName="directorName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" [disabled]="!newDirectorForm.valid" color="primary">OK</button>
</mat-dialog-actions>
</form>